.gridContainer{
    display: grid;
    grid-template-columns: 1fr;
    flex-wrap: wrap;
    margin-top: 70px;

}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 5px; 
    width: 100%;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 50%;
  }
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  #cart{
      float: right;
      margin-right: 10px;
  }
  .candleImg{
      height: 200px;
      width: 200px;
      border-radius: 50%;
  }
h1{
    text-align: center;
}
